body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: lightblue;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: lightcoral;
}

p {
    color: lightcoral;
}

h2 {
    color: lightcoral;
}